<div>
  <h2>Random pokemon data</h2>
  <div>
    <div>Name: <b>{{this.pokemonObj.name}}</b></div>
    <div>
      <img src={{this.pokemonObj.sprites.front_default}}/>
      <img src={{this.pokemonObj.sprites.back_default}}/>
      <img src={{this.pokemonObj.sprites.front_default}}/>
      <img src={{this.pokemonObj.sprites.front_shiny}}/>
      <img src={{this.pokemonObj.sprites.back_shiny}}/>
    </div>

    <div style="margin-top: 30px;">
      <div>Weight: {{this.pokemonObj.weight}}</div>
      <div>Height: {{this.pokemonObj.height}}</div>
    </div>
    
    <div style="margin-top: 30px;">
      <label>Habilities</label>
      @for(ability of this.pokemonObj.abilities; track ability) {
        <label>{{ability.ability.name}}</label>
      }
    </div>
  </div>
  <div>
    <label>Moves</label>
    @for(moves of this.pokemonObj.moves; track moves) {
      <ul>{{moves.move.name}}</ul>
    }
  </div>
</div>
<button (click)="shinyBidoof()">Click here fo shiny Bidoof</button>
@if(showBidoof) {
  <img src={{this.bidoof}}/>
}
<router-outlet></router-outlet>